# Runtime data
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# build directories
bin/
dist/

# Optional npm cache directory
.npm

# compiled ts files
*.d.ts
*.js.map
*.js

# config / env
.env
.vscode

#  test / coverage stuff
coverage
.vscode
.scannerwork
.sonarlint
.nyc_output
