# Runtime data
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# will only publish from the /dist folder
test/
bin/
src/

# config / env files
.env
.npmrc
.vscode/
tsconfig.json
package.ps1
tslint.json
.nycrc
publish.bat

# don't upload testing / coverage stuff
coverage/
sonar-project.properties
.scannerwork
.sonarlint
.nyc_output