{
  "extends": "@istanbuljs/nyc-config-typescript",
  "sourceMap": "true",
  "produce-source-map": "true",
  "exclude": [
      "bin/**/*",
      "node_modules/**/*",
      "test/**/*", 
      "dist/**/*",
      "coverage/**/*"
  ],
  "all": true,
  "reporter": [
    "lcov",
    "text"
  ]
}
